/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/*Margens*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*Variavel das fontes*/
:root{
    --font-primary:'Baloo Da 2', serif;
    --font-secundary:'Josefin Slab', serif;
    --font-action: 'Mulish', serif;
} 

/*Barra superior*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957);
}
  
li {
	margin-left: 1rem;
	float: left;
}
  
li a {
	font-family: var(--font-primary);
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover:not(.active) {
	opacity: 0.6;
}

/*Table*/
table{
    border: 0;
    width: 100%;
}
td{
    margin: 0;
    height: 0;
}
/*Produtos*/
.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-header h1{
    font-family: var(--font-primary);
    text-align: center;
    color: #155799;
    border-bottom: solid 3px #155799;
    margin-bottom: 1.5rem;
}
.info h3{
	font-family: var(--font-primary);
    width: 100%;
    margin-left: 2rem;
}
.info p{
	font-family: var(--font-secundary);
    width: 100%;
    font-weight: bolder;
    text-align: justify;
    margin-left: 2rem;
    margin-top: .1rem;
}
.info button{
    font-family: var(--font-action);
    color: #fff;
    letter-spacing: .1rem;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 25rem;
}
.img-wrapper{
    margin-left: 2rem;
    display: flex;
    width: 12rem;
    height: 10.5rem;
}
.img-wrapper img{
    margin: .5rem;
    width: 18rem;
    border-radius: 3px;
}

/*Perguntas*/
.right{
    background-color: lightgrey;
    width: 300px;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form h3{
    font-family: var(--font-action);
    font-size: 1rem;
    margin-bottom: .5rem;
}
label h2{
    font-family: var(--font-action);
    font-size: 1rem;
    margin-bottom: .5rem;
}
input[type=submit]{
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
}
/*Outros*/
.card{
    width: 18rem;
    height: 25rem;
    position: relative;
}
.projetos{
    display: flex;
    justify-content: space-evenly;
    margin-top: rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}
.sessao-outros{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-outros h1{
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #155799;
    border-bottom: solid 3px #155799;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
}
.card{
    width: 18rem;
    height: 25rem;
    position: relative;
}
.card-image-wrapper{
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: .5rem;
}
.card-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3s;
}
.card:hover .card-image-wrapper img{
    opacity: .5;
}
.card-info{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    padding: 1rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0,0,0, .4);
    transition: all .3s;
}
.card-info h2{
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #eee;
    line-height: 3.5rem;
}
.card-info h3{
    font-family: var(--font-action);
    font-weight: 400;
    color: #eee;
}
.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 1rem;
}
.card:hover .card-info{
    opacity: 1;
    visibility: visible;
}
.card-info input{
    font-family: var(--font-action);
    color: #fff;
    letter-spacing: .1rem;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 