/*Cabeçalho*/
p.solid {
	border-style: solid;
	border-color: #9b1536;
	}
p {
  background-color: #9b1536;
}
/*Input*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  /*Botão*/
  input[type=submit] {
    width: 100%;
    background-color: #9b1536;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #9b1536;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  input[type=button]{
    background-color:  #9b1536;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  /*div*/
div.first {
    background-color: lightgrey;
    width: 300px;
    border-radius: 5px;
    padding:50px;
    margin: 20px;
}
/*Texto*/
h3 {
    text-align: left;
    font-family: calibri;
    box-align: left;
    color:#9b1536;
}
h4 {
    text-align: left;
    font-family: calibri;
    color: black;
}